{% extends 'base.html' %}

{% block content %}
<div class="container px-4 py-5" id="custom-cards" bis_skin_checked="1">
    <h2 class="pb-2 border-bottom">Заметки</h2>
    <h5 class='pb-2 border-bottom'>Действия:
        <ul class="nav nav-pills">
            <li class="nav-item padding-item-bar"><a href="/notes/add_note" class="nav-link active" aria-current="page ">Добавить</a></li>

        </ul>
    </h5>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{ cat }}'>{{ msg }}</div>
    {% endfor %}

    
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-1" bis_skin_checked="1">
      {% for one_notes in notes_data_list %}
      <div class="col" bis_skin_checked="1">
        
        <div class="height-card card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="padding-bottom:0px; background-image: url('/static/image/fon.png'); 
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;" 
        bis_skin_checked="1">
          <div class="d-flex flex-column p-5 h-100 text-white text-shadow-1" bis_skin_checked="1">
            <h3 class="display-6 fw-bold">{{ one_notes.name_notes }}</h3>
            <ul class="d-flex list-unstyled mt-auto nav nav-pills button-padding-left">

                <li class="nav-item padding-item-bar"><a href="/notes/view_note/{{ one_notes.id }}" class="btn btn-info px-5" aria-current="page ">Описание</a></li>

                <li class="nav-item padding-item-bar"><a href="/notes/update_note/{{ one_notes.id }}" class="btn btn-warning px-5" aria-current="page ">Изменить</a></li>

                <li class="nav-item padding-item-bar"><a href="/notes/delete_note/{{ one_notes.id }}" class="btn btn-danger px-5 " aria-current="page ">Удалить</a></li>
              </li>
            </ul>
          </div>
          
        </div>
         
      </div>
     {% endfor %}

      </div>
      
    </div>
    
  </div>
{% endblock content %}