{% extends 'base.html' %}

{% block content %}
<div class="container px-4 py-5" id="custom-cards" bis_skin_checked="1">
    <h2 class="pb-2 border-bottom">Заметки</h2>
    <h5 class='pb-2 border-bottom'>Действия:
        <ul class="nav nav-pills">
            <li class="nav-item padding-item-bar"><a href="/notes/add_note" class="nav-link active" aria-current="page ">Добавить</a></li>

        </ul>
    </h5>

    {% for cat, msg in get_flashed_messages(True) %}
    <div class='flash {{ cat }}'>{{ msg }}</div>
    {% endfor %}

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5" bis_skin_checked="1">
      <div class="col" bis_skin_checked="1">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/image/fon.png'); 
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;" 
        bis_skin_checked="1">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1" bis_skin_checked="1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
{% endblock content %}