.auth_content_center {
    justify-content: center;
    position: relative;

    top: 50%;
    padding-top: 10%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
.flash {
    padding:10px;
    margin: 0px;
    margin-bottom: 10px;
}
.flash.success {
    border: 1px solid #13742e;
    background: rgb(64, 179, 33);
}
.flash.error {
    border: 1px solid rgb(149, 13, 13);
    background: rgb(195, 74, 74);
}