.padding_styles {
    padding-top: 250px;
    padding-bottom: 20%;
}


.center-text {
    text-align: center;
}

.get_indentation {
    margin-left: 30px;
}

.content-gorizontal {
    position: relative;
    box-sizing: border-box;

    top: 50%;
    padding-top: 10%;
    justify-content:space-between

}

.positons-left {
    float: left;
}

.positons-right {
    float:right;
}

.buttun-confirm-curr {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
}

.padd-item {
    padding-top: 15%;
}

.padding-top-bar {
    padding-top: 1%;
}

.color-go {
    background-color: rgb(9, 106, 9);
    border: 2px;
    border-color: black;
}
.paggination-bar {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.result-curr {
    color:rgb(255, 255, 255);
    font-weight:bold
}

.last-update {
    color: rgb(125, 42, 42);
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
}

.flash {
    padding:10px;
    margin: 0px;
    margin-bottom: 10px;
    font-size:20px;
}

.flash.success {
    border: 1px solid #13742e;
    background: rgb(64, 179, 33);
}

.success_news {
    border: 1px solid #38142c;
    background: rgb(68, 37, 118);
}

.error_news {
    border: 1px solid #4b1515;
    background: rgb(108, 7, 7);
}

.flash.error {
    border: 1px solid rgb(149, 13, 13);
    background: rgb(195, 74, 74);
}

.centering-form {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

.center-div {
    margin-left: 8%;
}
.news-title {
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 200%;
}
.news-text {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 150%;
    padding-bottom: 1%;
}

.news-views {
    text-align: left;
    font-size: 30px;
    padding-top: 2%;

}

.footer-news {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-size: 150%;
    padding-top: 2px;
} 

.button-news-page {
    padding-top: 2%;
    padding-bottom: 20%;
}

.padding_item {
    padding-bottom: 50px;
}

.padding_buttom {
    padding-bottom: 2%;
}

.news-edit-text {
    text-align:center;
    font-size:20px
}

.news-page-text {
    text-align:center;
    font-size:20px
}

.padding-item-bar {
    padding-top: 7px;
    padding-right: 5px;

}

.full-center {
    justify-content: center;
    position: relative;

    top: 60%;
    padding-top: 10%;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.success_notes {
    border: 1px solid #381e2f;
    background: rgb(71, 30, 136);   
}

.error_notes {
    border: 1px solid #5d1414;
    background: rgb(80, 43, 43);   
}