{% extends "auth/base_auth.html" %}

{% block content %}
<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center">
        <div class="col col-lg-9 col-xl-8">
          {% for cat, msg in get_flashed_messages(True) %}
          <div style='font-size:20px;' class='flash {{ cat }}'>{{ msg }}</div>
          {% endfor %}
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="static/image/user-logo.png"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">

                <div class='two-element'>
                    <a  type="button" data-mdb-button-init data-mdb-ripple-init class="btn  btn-outline-dark text-body" data-mdb-ripple-color="dark" href='/auth/edit_profile' style="z-index: 1; ">
                      Редактировать профиль
                    </a>
                </div>


              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>{{ date.username }}</h5>
                <p>{{ date.email }}</p>
              </div>
            </div>
            <div class="p-4 text-black bg-body-tertiary">
              <div class="d-flex justify-content-end text-center py-1 text-body">

                <div>
                  <p class="mb-1 h5">Дата регистрации: {{ date.date.date() }}</p>
                  <p></p>

                </div>


              </div>
            </div>
            <div class="card-body p-4 text-black">
              <div class="mb-5  text-body">
                <p class="lead fw-normal mb-1">О себе</p>
                <div class="p-4 bg-body-tertiary">
                  <p class="font-italic mb-1">{{ date.about }}</p>

                </div>
              </div>
          </div>
          
        </div>
        <a href="{{ url_for('.logout') }}" type="button" data-mdb-button-init data-mdb-ripple-init class="btn  btn-outline-dark text-body btn-exit" data-mdb-ripple-color="dark" style="z-index: 1; ">
        Выйти из профиля
        </a>
      </div>
      
    </div>
    
  </section>
  


{% endblock content %}