{% extends 'base.html' %}


{% block content %}
{{ super() }}
<div class='center-text'>
<div class="cover-container h-100 text-bg-dark">
    <main class="px-3 padding_styles">
      <h1>Вас приветствует DarkPythons!</h1>
      <p class="lead">Вы находитесь на сайте, написанном на Flask. В его функционал входят: заметки, написание статей, сообщение новостей пользователям.</p>
      <p class="lead"></p>
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Узнать больше</a>
      </p>
    </main>
  </div>
</div>

{% endblock content %}