{% extends 'base.html' %}


{% block content %}
{{ super() }}
<div class="cover-container d-flex w-100 h-100 p-1 mx-auto  text-center text-bg-dark padd">
  
    <main class="px-3 padding_styles">
      <h1>Вас приветствует SuperVoblaFish!</h1>
      <p class="lead">Вы находитесь на сайте, написанном на Flask. В его функционал входят: заметки, написание статей, сообщение новостей пользователям.  </p>
      <p class="lead"></p>
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Узнать больше</a>
      </p>
    </main>
  

  </div>


{% endblock content %}