{% extends 'base.html' %}


{% block content %}
{{ super() }}
<div class='center-text'>
<div class="cover-container h-100 text-bg-dark">
    <main class="px-3 padding_styles">
      <h1>Вас приветствует DarkPythons!</h1>
      <p class="lead">Полный функционал сайта: конвертация валюты (большой выбор валют), написание новостей (учитываются просмотры пользователей), написание заметок, войдите в свой аккаунт ниже, чтобы получить доступ к этим функциям.</p>
      <p class="lead"></p>
        <a href="/auth/login" class="btn btn-lg btn-light fw-bold border-white bg-white">Войти</a>
        <a href="/auth/register" class="btn btn-lg btn-light fw-bold border-white bg-white">Создать аккаунт</a>
        <a href="/auth/profile" class="btn btn-lg btn-light fw-bold border-white bg-white">Профиль</a>
      </p>
    </main>
  </div>
</div>

{% endblock content %}