{% extends "base.html" %}

{% block content %}
{{ super() }}




    
<main>

  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 border rounded-3" src="static/image/photo_index.png" alt="site photo" width="90" height="100">
    <h1 class="display-5 fw-bold text-body-emphasis">Dark Pythons</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Сайт включает в себя множество разных функций, 
      исходный код всего проекта есть на GitHub, можете перейти по кнопкам ниже.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href='https://github.com/DarkPythons/Flask-site' 
        type="button" class="btn btn-primary btn-lg px-4 gap-3" target="_blank">Проект</a>
        <a href='https://github.com/DarkPythons' type="button" 
        class="btn btn-outline-secondary btn-lg px-4" target="_blank" >Автор проекта</a>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold text-body-emphasis">Что умеет сайт?</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Быстро пробежимся по функциям, на сайте вы можете писать свои новости, их будут видеть другие пользователи, смотреть на стоимость валюты и оставлять свои заметки.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <a href='/news' type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Новости</a>
        <a href='/convert' type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Валюта</a>
        <a href='/notes' type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Заметки</a>
        <a href='/about' type="button" class="btn btn-outline-secondary btn-lg px-4">О нас</a>
      </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
      <div class="container px-5">
        <img src="https://i.ibb.co/0XcwvjC/photo.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Img project logo" width="300" height="200" loading="lazy">
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://i.ibb.co/dDnmVNz/kod.jpg" class="d-block mx-lg-auto img-fluid" alt="Kod photo" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Краткое предисловие.</h1>
        <p class="lead">Данный сайт написан на python с использованием Flask фреймворка, 
        вы можете 
        <a href='https://github.com/DarkPythons/Flask-site'>скачать</a> 
        его и изменить как вам угодно, 
        проект распространяется под свободной лицензией MIT.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href='/auth/login' type="button" class="btn btn-primary btn-lg px-4 me-md-2">Войти</a>
          <a href='https://mit-license.org/' type="button" class="btn btn-outline-secondary btn-lg px-4">Лицензия</a>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  </div>

  <div class="b-example-divider"></div>


  <div class="b-example-divider"></div>
  <div class="b-example-divider mb-0"></div>
</main>


{% endblock content %}